body {
    background: 	#E8E8E8;
    margin: 0;
  }
  .page-header{
    background:white;
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-top:0px;
   

  }
  div.container {
    width: 600px;
    margin: auto;
  }
  
  div.post {
    background: white;
  }

  
  div.post img {
    width: 100%;
    height:30rem;
  }
  div.post h2, div.post p {
    padding: 10px;
    margin: 0;
  }
  
  #post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
 .post span{
    color:lightgray;
  }
div.post p{
    margin-bottom:50px;
}